*
{
	font-family: "Calibri", sans-serif;
	text-shadow: 0px 0px 0.5px;
}

body
{
	background-color: #83BEF8;
	background-image: url(/assets/images/body_background.jpg);
	background-repeat: no-repeat;
	opacity: 0.8;
}

.selected
{
	color: black;
	background: #EDF9FF;
}

h1, h2, h3, h4, h5
{
	color: #19A5F0;
	text-shadow: 0px 0px 2px;
	text-align: center;
}

nav ul
{
	text-shadow: 0px 0px 1px;
	text-align: center;
}

nav ul li
{
	display: inline;
	padding-right: 30px;
	padding-left: 5px;
	border-left: medium solid #19A5F0;
}

nav ul li a
{
	color: #19A5F0;
	text-decoration: none;
}

nav ul li a:hover, #link:hover
{
	color: black;
}

nav ul li a:active, #link:active
{
	color: black;
	background: #EDF9FF;
}

#segment1, #segment2, #segment3, #segment4
{
	background-position: bottom right;
	background-repeat: no-repeat;
}

#segment1
{
	background-image: url("/assets/images/body_agumon.png");
}

#segment2
{
	background-image: url("/assets/images/body_patamon.png");
}

#segment3
{
	background-image: url("/assets/images/body_veemon.png");
}

#segment4
{
	background-image: url("/assets/images/body_gatomon.png");
}