<html>
	<head>
		<title>Digital World 2.1</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css" type="text/css">
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
		<link type="text/css" rel="stylesheet" href="/style.css" />
	</head>
	<body class="ui stackable container">
		<%- partial("../includes/_navigation.ejs") %>
		<%- yield %>
		<%- partial("../includes/_footer.ejs") %>
	</body>
</html>