<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/appli_background.png">
</figure>
<section class="ui blue grid segment">
	<iframe class="ui sixteen column" width="560" height="315" src="https://www.youtube.com/embed/Xmkd3aBskM0" frameborder="0" allowfullscreen></iframe>
</section>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Story</h2>
	</header>
	<article>
		Everyone in the world uses smartphone apps. But inside them lurks unknown creatures called "Appli Monsters," or "Appmon." The Appmon are AI lifeforms with the ability to think and act, and exist in the boundary between the human world and digital space. In the vast sea of the internet, the "last boss AI" Leviathan takes control of the Appmon with a virus and begins hacking every system, thus starting to control the human world from the world of the net. Haru Shinkai is led to acquire the Appli Drive, and uses it to materialize Gatchmon, a search app monster.
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>About the Cast</h2>
</header>
<details>
<summary>Haru Shinkai</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/appli_haru.png" alt="Haru Shinkai" width="120" height="100">
	</div>
	<div class="ten wide column">
		He is the main protagonist of Digimon Universe: Appli Monsters. His Buddy Appmon is Gatchmon. Haru is a kind and gentle person. Though a bit meek and emotional, he has a strong will and makes decisions based on his own opinions. He loves to read, and longs to be the hero of his own story. He is curious and possesses good deductive skills.
	</div>
</div>
</details><br>
<details>
<summary>Eri Karan</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/appli_eri.jpg" alt="Eri Karan" width="120" height="100">
	</div>
	<div class="ten wide column">
		She is a main character in Digimon Universe: Appli Monsters. Her Buddy Appmon is Dokamon. Eri is a lively person with a strong personality who is described as athletic. However, in reality she is very kind and a bit prone to loneliness. She is an active member of the idol group Appliyama 470.
	</div>
</div>
</details><br>
<details>
<summary>Torajirou Asuka</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/appli_torajirou.jpg" alt="Torajirou Asuka" width="120" height="100">
	</div>
	<div class="ten wide column">
		He is a main character in Digimon Universe: Appli Monsters. His Buddy Appmon is Musimon. Torajirou is a free-spirited boy who likes to go with the flow and believes in the importance of freedom and expressing one's emotions. Online, he is a famous Apptuber known by the nickname Astra.
	</div>
</div>
</details><br>
</main>