<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>Contacting Me ?</h2>
	</header>
	<article>
		Do you have any suggestions about this website? Would you like any more Digital World related-content to be put here? Would you like to help with this project? Contact me down below!
	</article><br>
	<div class="ui form segment" id="segment1" id="abId0.5952955687821972">
		<div class="field" id="inputText">
			<input type="text">
		</div>
		<div class="ui submit button" id="sendText">Submit</div>
		<div id="showText"></div>
	</div>
</section>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>Sources ?</h2>
	</header>
	<article class="ui stacked segment" id="segment2">
		<ul>
			<a href="https://myanimelist.net/"><li>MyAnimeList.net</li></a> For the story descriptions.
			<a href="http://digimon.wikia.com/wiki/Digimon_Wiki"><li>Community-supported Digimon Wikia</li></a> For the character descrptions.
			<a href="http://www.zerochan.net/"><li>Zerochan.net</li></a> For each pages' banner figures.
			<a href="https://images.google.com/"><li>Google Images</li></a> For each "movie" pages' "Images" section.
			<a href="http://digital-world.surge.sh/"><li>Digital World 2.0</li></a> For the foundation of this website (previous version of this project).
		</ul>
	</article>
</section>