<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/frontier_background.png">
</figure>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Story</h2>
	</header>
	<article>
	With five new kids and an exciting new mission in the Digital World, Digimon Frontier brings back all the great action and adventure of the last three seasons. Takuya, Kouji, Izumi, Junpei. and Tomoki meet each other in a train that takes them to the Digital World where a war against evil is being fought. The Angel digimon, Cherubimon, one of The three angels sent to save the World from the power-hungry Lucemon, has turned to the dark side and the entire Digital World is in peril. To fight this great battle, the five CHOSEN ONES must find the Densetsu no Spirit (Legendary Spirit).
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>About the Cast</h2>
</header>
<details>
<summary>Takuya Kanbara</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is a main character in the Digimon anime series, Digimon Frontier. He is the leader of the "DigiDestined", children who were chosen to receive the ability to transform into Digimon in order to save the Digital World. He has a strong sense of justice, and tries to use his power to do what he believes is right.
	</div>
	<div class="two wide column>
		<img src="/assets/images/frontier_takuya.png" alt="Takuya Kanbara" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Koji Minamoto</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is one of the "DigiDestined", children who were chosen to receive the ability to transform into Digimon in order to save the Digital World. He is a shy and lonely boy who isn't sure how to approach others.
	</div>
	<div class="two wide column>
		<img src="/assets/images/frontier_koji.png" alt="Koji Minamoto" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>J.P. Shibayama</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is one of the "DigiDestined", children who were chosen to receive the ability to transform into Digimon in order to save the Digital World. He seems to have a hidden fear of being alone—despite being constantly surrounded by people when he was in the Real World, he felt that he had never really been anyone's real friend.
	</div>
	<div class="two wide column>
		<img src="/assets/images/frontier_jp.png" alt="J.P Shibayama" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Zoe Orimoto</summary>
<div class="ui grid">
	<div class="twelve wide column">
		She is one of the "DigiDestined", children who were chosen to receive the ability to transform into Digimon in order to save the Digital World. She strongly believes in staying true to herself and will never act differently to please others. She gets particularly annoyed when her fellow male Digidestined doubt her abilities because she is female, as she thinks she is still just as strong as they are, and makes a determined effort to prove so when they do doubt her.
	</div>
	<div class="two wide column>
		<img src="/assets/images/frontier_zoe.png" alt="Zoe Orimoto" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Tomoki Himi</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is one of the "DigiDestined", children who were chosen to receive the ability to transform into Digimon in order to save the Digital World, and he is also known as one of the Legendary Warriors, inheritors of the Spirits of the Ten Legendary Warriors. He can be selfish without meaning to, and he dislikes not getting his way. Because of his nature, Tomiki is often bullied, which makes him shy away from others.
	</div>
	<div class="two wide column>
		<img src="/assets/images/frontier_tommy.png" alt="Tomiki Himi" width="70" height="100">
	</div>
</div>
</details>
</main>