<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/fusion_background.png">
</figure>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Story</h2>
	</header>
	<article>
		The Digital World is in a state of war, with the evil Bagra Army attempting to collect fragments of the Code Crown. Whoever manages to collect all 108 fragments will become king of the Digital World. An evil group of Digimon, known as the Bagra Army, are determined to get their hands on the Code Crown.<br><br>Digimon Xros Wars features Taiki Kudou, a soccer-loving middle schooler who will always go out of his way to help people in need. When out with his friends Akari Hinomoto and Zenjirou Tsurugi one day, he hears a voice calling out for help. Investigating the situation, he meets a Digimon named Shoutmon who has been severely wounded in a nearby alley. Using the power of a strange device called a Xros Loader, Taiki manages to save Shoutmon's life, but is pulled into the Digital World alongside Akari and Zenjirou.<br><br>Determined not to let the evil Bagra have their way, Taiki and his friends join with Shoutmon and other local Digimon to form their own army known as Xros Heart. Now Xros Heart must fight their way across the Digital World to collect Code Crown fragments and defeat the Bagra Army, but Taiki and his friends are not the only humans caught up in this war of monsters…
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>About the Cast</h2>
</header>
<details>
<summary>Taiki Kudou</summary>
<div class="ui segment">
	<img class="ui rounded image" src="/assets/images/fusion_taiki.jpg" alt="Taiki Kudou" width="140" height="120"><br>
	He is a main character in Digimon Fusion, and serves as its protagonist through its first two seasons. He leads the red "Fusion Fighters" army, and is partnered with Shoutmon. He has an overly outgoing personality. He is always happy, and often tries to see the good in his enemies, much to Shoutmon's chagrin. His motto is "I can't turn my back on anyone."
</div>
</details><br>
<details>
<summary>Nene Amano</summary>
<div class="ui segment">
	<img class="ui rounded image" src="/assets/images/fusion_nene.jpg" alt="Nene Amano" width="100" height="140"><br>
	She is one of the main characters in Digimon Fusion. She is described as an enigmatic beautiful girl that leads a mysterious army. She has a strong bond with her main digimon, Sparrowmon.
</div>
</details><br>
<details>
<summary>Kiriha Aounuma</summary>
<div class="ui segment">
	<img class="ui rounded image" src="/assets/images/fusion_kiriha.jpg" alt="Kiriha Aonuma" width="140" height="120"><br>
	Another main character, he is a cold and calculated compared to Taiki (whom he considers his rival as). He is someone that shows very little empathy towards others including that of his own Digimon, as evident by his treatment of Golemon.
</div>
</details>
</main>