<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/savers_background.png">
</figure>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Story</h2>
	</header>
	<article>
	Masaru, a second year Junior High student and undefeated street-fighter, is about to learn the meaning of the word "teamwork." After Agumon escapes DATS, an organization that deals with Digimon, it winds up in a fight with Masaru. Soon Yoshino and Lalamon come to capture Agumon, and the two fighters escape. After an evil Digimon appears, it's up to Masaru and Agumon to defeat it with their DNA Charge.<br><br>Soon, Masaru must join DATS to put an end to the Digimon coming to Earth. With the help of Yoshino, Ikuto, and Touma, the group must stop any evil Digimon that appear, and return them to the Digital World.<br><br>But not everything goes as planned...
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>About the Cast</h2>
</header>
<details>
<summary>Daimon Masaru</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/savers_masaru.png" alt="Daimon Masaru" width="120" height="100">
	</div>
	<div class="ten wide column">
		He is the first human lead of any Digimon serial, excluding C'mon Digimon, that doesn't wear goggles. Masaru is also the first and only human protagonist to physically hurt Digimon on a regular basis. He is partnered with Agumon. He is the kind of guy who would rather settle a dispute with his fists. He is loud and arrogant, and often rude and confrontational.
	</div>
</div>
</details><br>
<details>
<summary>Tōma H. Norushutain</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/savers_toma.jpg" alt="Toma H. Norushutain" width="120" height="100">
	</div>
	<div class="ten wide column">
		He is partnered with Gaomon. He bases his operations on data and theoretical principles, and as such, his personality clashes with 	Masaru's. Calm and shrewd, he is the exact opposite of Masaru and sees him as a rival.
	</div>
</div>
</details><br>
<details>
<summary>Yoshino Fujieda</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/savers_yoshino.jpg" alt="Fujieda Yoshino" width="120" height="100">
	</div>
	<div class="ten wide column">
		She is partnered with Lalamon. Yoshi is independent and sees herself as an older sister figure to her two teammates, despite this; she hides a terrible burden from her childhood and because of it, she has difficulty believing in her ability to do anything.
	</div>
</div>
</details>
</main>