<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/tamers_background.png">
</figure>
<aside class="ui center aligned blue segment">
	<a href="/strands/tamers.html"><h3 id="link"><i class="lightblue mail forward icon"></i>Series: Tamers</h3></a>
</aside>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Movie</h2>
	</header>
	<article>
		Locomon, a train digimon, has suddenly appeared in the real world. All the tamers scramble to stop the train before it reaches its final destination: the portal into the Digital World.
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>Images of the Movie</h2>
</header>
<section class="ui segment" id="segment4">
	<div class="ui stackable grid">
		<figure class="ui center aligned six wide column">
			<img class="ui middle aligned large rounded fluid image" src="/assets/images/runaway_image2.png">
		</figure>
		<figure class="ui center aligned six wide column">
			<img class="ui middle aligned large rounded fluid image" src="/assets/images/runaway_image3.png">
		</figure>
		<figure>
			<img class="ui massive rounded fluid image" src="/assets/images/runaway_image1.jpg">
			<figcaption><br>Scenes from the movie.</figcaption>
		</figure>
	</div>
</section>
</main>