<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/tamers_background.png">
</figure>
<aside class="ui center aligned blue segment">
	<a href="/strands/tamers_runaway.html"><h3 id="link"><i class="lightblue mail forward icon"></i>Movie: Runaway Locomon</h3></a>
</aside>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Story</h2>
	</header>
	<article>
		Digimon Tamers takes place in a world where the popular Digimon franchise is all the rage, consisting of a cartoon, video games, and the trading card game. Takato Matsuda is a huge Digimon fan that's particularly obsessed with the card game, and constantly daydreams about the universe therein. One day, he finds a mysterious blue card, which he slides through a scanner toy to use in the popular battle game. His toy suddenly glows and transforms into a Digivice, and Takato's fan-made design, Guilmon, materialises in front of him. Thrilled by the prospect of having a real-life Digimon, Takato embraces his new partner, and his adventures as a Digimon Tamer begin.<br><br>
		Takato quickly discovers that being a Digimon Tamer is not all fun and games—in reality, it's much more dangerous than the card games he's accustomed to. Wild Digimon have begun to appear all across Japan, causing rampages that result in chaos and mayhem. Armed with his Digivice, which can scan trading cards to strengthen Guilmon, Takato and his new partner set out to combat the rogue Digimon. They are tasked with protecting the world from Digimon attacks, whilst a mysterious organization determined to eliminate all Digimon and their Tamers lurks in the shadows...
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>About the Cast</h2>
</header>
<details>
<summary>Takato Matsuki</summary>
<div class="ui segment">
	<img class="ui rounded image" src="/assets/images/tamers_takato.jpg" alt="Takato Matsuki" width="120" height="120"><br>
	He is one of its three main protagonists of Digimon Tamers. He is the Tamer of Guilmon and his creator. He is a cheerful and carefree person who loves Digimon, the Digimon card game, and drawing. He is gentle, sensitive, and true to his feelings, which makes him very emotive.
</div>
</details><br>
<details>
<summary>Henry Wong</summary>
<div class="ui segment">
	<img class="ui rounded image" src="/assets/images/tamers_henry.png" alt="Henry Wong" width="140" height="120"><br>
	He is the Tamer of Terriermon and is known for his calm presence and pacifist attitude. As a Tamer, Henry understands that fighting is sometimes necessary, and learns to balance between good fights and bad ones, though he remains a very non-aggressive person.
</div>
</details><br>
<details>
<summary>Rika Nonaka</summary>
<div class="ui segment">
	<img class="ui rounded image" src="/assets/images/tamers_rika.jpg" alt="Henry Wong" width="140" height="120"><br>
	She is the Tamer of Renamon and is known as the ruthless Digimon Queen. She is a merciless tamer seeking only to make her partner Digimon as strong as possible, and had a rough relationship with her mother.
</div>
</details>
</main>