<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/tri_background.png">
</figure>
<section class="ui blue grid segment">
	<iframe class="ui sixteen wide column" width="560" height="315" src="https://www.youtube.com/embed/TC6uk3A9CP0" frameborder="0" allowfullscreen></iframe>
</section>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Story</h2>
	</header>
	<article>
		It's been six years since that summer adventure when Taichi Yagami and the rest of the DigiDestined crossed over to the Digital World. And nearly three years have passed since the final battle between Hikari Yagami's group and BelialVamdemon. As the peaceful days passed by, at some point the gate to the Digital World closed. Not even the DigiDestined know what caused this, and time alone continues to pass.<br><br>On one such day, a Kuwagamon suddenly appears in Odaiba. Its rampage leaves the town in ruins, and the people there in turmoil. Taichi happens to catch sight of the Kuwagamon, and he chases after it all by himself in an effort to halt its rampage. But there's nothing he can do against a Kuwagamon.
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>About the Cast</h2>
</header>
<details>
<summary>Taichi Yagami</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is the main protagonist of Digimon tri. He is a DigiDestined, partnered with Agumon, and the bearer of the Crest of Courage. He is the older brother of Kari Yagami. Tai is a happy-go-lucky and adventurous person. He is very caring and considerate of others, even if his actions may cause some people to think otherwise.
	</div>
	<div class="two wide column">
		<img src="/assets/images/tri_taichi.png" alt="Taichi Yagami" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Yamato Ishida</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is a DigiDestined, partnered with Gabumon, and the bearer of the Crest of Friendship. He is the older brother of Takeru "T.K." Takaishi. He is a deeply caring person who will do anything for a friend, and is very protective of his loved ones. He is prone to second-guessing and self-deprecation when he cannot protect others.
	</div>
	<div class="two wide column">
		<img src="/assets/images/tri_yamato.png" alt="Yamato Ishida" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Sora Takenouchi</summary>
<div class="ui grid">
	<div class="twelve wide column">
		She is a DigiDestined, partnered with Biyomon, and the bearer of the Crest of Love. Sora is a very kind and responsible person. She is very caring and protective, with her first instinct being to try and help others in any way she can.
	</div>
	<div class="two wide column">
		<img src="/assets/images/tri_sora.png" alt="Sora Takenouchi" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Izumi Koushiro</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is a DigiDestined, partnered with Tentomon, and the bearer of the Crest of Knowledge. Izzy is a computer expert and spends a large fraction of his time trying to figure stuff out on his "PiBook" laptop. He is very intelligent and knowledgeable, and often gets lost in thought while trying to figure out something new.
	</div>
	<div class="two wide column">
		<img src="/assets/images/tri_izumi.png" alt="Izumi Koushiro" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Mimi Tachikawa</summary>
<div class="ui grid">
	<div class="twelve wide column">
		She is a DigiDestined, partnered to Palmon, and the bearer of the Crest of Sincerity. Mimi is a girl who has been been pampered her entire life, and as such is rather prissy and spoiled. However, she is actually a very sweet and caring person, who is sensitive to the feelings of others and dislikes fighting.
	</div>
	<div class="two wide column">
		<img src="/assets/images/tri_mimi.png" alt="Mimi Tachikawa" width="70" height="100">
	</div>
</div>
</details><br>
<details>
<summary>Joe Kido</summary>
<div class="ui grid">
	<div class="twelve wide column">
		He is a DigiDestined, partnered to Gomamon, and bearer of the Crest of Reliability/Honesty. As the oldest of the group, Joe takes it upon himself to be the voice of reason and tries, often without success, to steer the other DigiDestined away from reckless action.
	</div>
	<div class="two wide column">
		<img src="/assets/images/tri_joe.png" alt="Joe Kido" width="70" height="100">
	</div>
</div>
</details><br>
</main>