<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/zero-two_background.png">
</figure>
<aside class="ui center aligned blue segment">
	<a href="/strands/zero-two.html"><h3 id="link"><i class="lightblue mail forward icon"></i>Series: Zero Two</h3></a>
</aside>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Movie</h2>
	</header>
	<article>
		After the events of 02, everything is finally getting back to normal. That is, until a strangely familiar icon starts showing up on computer systems around the Japan. And not just computer systems... TVs, mobile phones, video games; anything with a screen with online capabilities. And this icon seems to be looking for somone... Yagami Taichi, and Ishida Yamato, who defeated it several years before. Yes, it turns out that this jellyfish digimon is in fact Diablomon, the Virus-type Digimon that was defeated in the second movie. But this time, he's learned to make himself physical, and is sending thousands of copies of himself into the real world.<br><br>
		Koushiro and Ken devise a plan to rid the world of the virus once and for all, but it'll take the help of all the Destined, past and present. Once again, it's a race against time to put a stop to Diablomon's plot... but even that is cloaked in shadow.<br><br>
		Will the revival of Omagamon be enough to stop Diablomon a second time, or will the millions of copies prove enough of a power boost to shrug off the "Digimon Champion of Justice"? Of course, he hasn't seen the new breed of Chosen, nor the new techniques. It's a fight to the finish, with the destruction of Tokyo resting on the line.
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>Images of the Movie</h2>
</header>
<section class="ui stackable grid segment" id="segment3">
	<figure class="ui eight wide column">
		<img class="ui rounded fluid image" src="/assets/images/revenge_image1.jpg">
		<figcaption><br>Poster of the movie.</figcaption>
	</figure>
	<div class="ui six wide column rows">
		<figure class="ui row">
			<img class="ui massive rounded fluid image" src="/assets/images/revenge_image2.png">
		</figure>
		<figure class="ui row">
			<img class="ui massive rounded fluid image" src="/assets/images/revenge_image3.jpg">
			<figcaption><br>Scenes from the movie.</figcaption>
		</figure>
	</div>
</section>
</main>