<figure class="ui blue segment">
	<img class="ui rounded image" src="/assets/images/zero-two_background.png">
</figure>
<aside class="ui center aligned blue segment">
	<a href="/strands/zero-two_revenge.html"><h3 id="link"><i class="lightblue mail forward icon"></i>Movie: Revenge of Diaboromon</h3></a>
</aside>
<section class="ui blue segment">
	<header class="ui clearing header">
		<h2>About the Story</h2>
	</header>
	<article>
		A few years after the adventures of the Chosen Children in the Digital World, a new batch of Chosen Children are summoned to save the Digital World. An evil ruler known as the Digimon Kaiser, or Digimon Emperor, is forcing the Digital World's Digimon into enslavement. The new group of Chosen Children, with the help of their Digimon, then begin a journey to stop the evil Digimon Emperor.
	</article>
</section>
<main class="ui blue segment">
<header class="ui clearing header">
	<h2>About the Cast</h2>
</header>
<details>
<summary>Davis Motomiya</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/zero-two_davis.jpg" alt="Davis Motomiya" width="120" height="100">
	</div>
	<div class="ten wide column">
		The main protagonist in the Digimon Adventure 02 anime series. He is the leader of his group of DigiDestined and its lead character Goggle Boy, and is partnered to Veemon. He is an extremely stubborn person with a big heart and an optimistic mindset.
	</div>
</div>
</details><br>
<details>
<summary>Takeru Takaishi</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/zero-two_takeru.png" alt="Takeru Takaishi" width="120" height="100">
	</div>
	<div class="ten wide column">
		He is a DigiDestined, partnered with Patamon, and embodies the trait of Hope. He is the younger brother of Yamato "Matt" Ishida. He is a very cheerful and amiable person, he doesn't like when others are fighting or sad, and will do anything in his power to make others happy.
	</div>
</div>
</details><br>
<details>
<summary>Kari Yagami</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/zero-two_kari.jpg" alt="Kari Yagami" width="120" height="100">
	</div>
	<div class="ten wide column">
		She is a DigiDestined, partnered with Gatomon, and embodies the trait of Crest of Light. She is the younger sister of Taichi Yagami. Kari is kind and sweet by nature, always looking for the best in people, and avoids fighting them whenever possible.
	</div>
</div>
</details><br>
<details>
<summary>Miyako Inoue</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/zero-two_yolei.jpg" alt="Miyako Inoue" width="120" height="100">
	</div>
	<div class="ten wide column">
		She is a DigiDestined, partnered to Hawkmon. As such, she is the first central DigiDestined to be partnered with an opposite gender Digimon, as Hawkmon is male. She is the oldest of the new DigiDestined, she is very energetic and usually confident, although she can sometimes be embarrassed to admit her true feelings if they don't meet her standard for herself.
	</div>
</div>
</details><br>
<details>
<summary>Iori Hida</summary>
<div class="ui stackable grid">
	<div class="two wide column">
		<img class="ui rounded image" src="/assets/images/zero-two_cody.jpg" alt="Cody Hida" width="120" height="100">
	</div>
	<div class="ten wide column">
		He is a DigiDestined, partnered with Armadillomon. He is the bearer of the Digi-Eggs of Knowledge and Reliability, and is the youngest of the new group of DigiDestined, but is serious and wise beyond his years. In the beginning, his world of view was very black-and-white, as befitting a child, which leads him to be very stubborn and to be rather hard on people.
	</div>
</div>
</details><br>
</main>