<aside class="ui center aligned inline annoy blue segment">
	<button class="ui stacked blue basic button">
	We don't use cookies to ensure you get the worst experience on our website.<br><br>
	<i class="close icon">
	</i>
	</button>
</aside>