<footer class="ui center aligned blue segment">
	<button class="ui stacked blue basic button">
	Created by Andy Wong<br><br>
	<a href="https://www.facebook.com/"><i class="facebook blue icon"></i></a>
	<a href="https://twitter.com/"><i class="twitter blue icon"></i></a>
	<a href="https://github.com/andyAndyA"><i class="github icon"></i></a>
	</button>
</footer>