<footer class="ui center aligned blue segment">
	<button class="ui stacked blue basic button">
	Created by andyAndyA.
	<a href="https://github.com/andyAndyA"><i class="github icon"></i></a>
	</button>
</footer>
